.container {
  max-width: 992px;

  a {
    color: white;
    text-decoration: none;
  }

  h1 {
    font-size: 1.5em;
    padding: 10px 0;
    margin-bottom: 0;
  }

  .auth {
    height: 50px;
    position: relative;

    .vertical-center {
      margin: 0;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      height: 30px;

      span {
        color: orange;
      }
    }
  }
}
